<h1>Health Fewd!</h1>

<h2>Design Your Own Personal Weekly Menu!</h2>

<ul>
  {{#each options}}
    {{#unless this.devoured}}
      <li>
        {{this.foodname}}


<form action="healthFewds/update/{{this.id}}?_method=PUT" method="POST">
<input type="hidden" name="devoured" value="true">
<button type="submit">Devour!</button>
</form>


      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>foods that are devoured!</h2>

<ul>
  {{#each options}}
    {{#if this.devoured}}
      <li>
        {{this.foodname}}

        <form action="healthFewds/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Devoured!</button>
        </form>

      </li>
    {{/if}}
  {{/each}}
</ul>


<h2>Add a Health Fewd</h2>
<form class="create-update-form" action="healthFewds/create" method="POST">
  <div class="form-group">
    <label for="foodname">Health Fewd</label></label>
    <input type="text" id="foodname" name="foodname">
  </div>

  <div class="form-group">
    <label for="slee">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devour<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>

  <button type="submit">Add Health Fewd</button>
</form>
